<!DOCTYPE html>
<html>
<head>
  <title>Questions?</title>
</head>
<body>

<h2>You can view or add your questions here.</h2>

<h2>Select the question you'd like to view from the list below.</h2>

<ul> 
<% @question_box.each do |question_box| %>
<h4>Question Number: <a href="/questions/<%= question_box.id %>"><%= question_box.id %></a>, For <%= question_box.recipient %></h4>
 <!-- <li>Question: <%=question_box.question%></li>
  <li>Question Recipient: <%=question_box.recipient%></li>
  <li>Question ID: <%=question_box.id%></li> -->
<% end %>
</ul>

<a href="/questions/new">Add Your Questions Here!</a>

</body>
</html>