
<br />
<br />
<br />
<div class="content">
  <div class="det-form">
  <h2>Here are the details of your question!</h2>
  <br />
  <br />
    <% if @question_boxes %>
  <ul>
    <h1> The ID: <%= @question_boxes.id %></h1>
    <br/>
    <h1> The Author: <%= @question_boxes.author %></h1>
    <br/>
    <h1> The Time: <%= @question_boxes.created_at %></h1>
    <br/>
    <h1> The Question: <%= @question_boxes.question %></h1>
  </ul>
      <% else %>
    <h2> No one has asked a question yet. =[ </h2>
  <% end %>
        <form method="POST" action="/questions/<%= @question_boxes.id %>">
          <input type="hidden" name="_method" value="delete" />
          </p>
          <p class="submit"><input type="submit" value="Delete"></p>
        </form>

        <form method="POST" action="/questions/<%= @question_boxes.id %>">
          <input type="hidden" name="_method" value="update" />
          </p>
          <p class="submit"><input type="submit" value="Update"></p>
        </form>
    </div>
</div>

<br />
<br />



<!-- My intent with this page is to function as a destination for a given question.
The root will display all the quesion IDs for a given author.  I want the
user to be able to click on a link, the question ID, and see the qustion and the
intended recipient.

Even though this page isn't working as intended, it's not returning the
questions that I know exist, It still renders and doesn't throw an error because
I've added a conditional and given it something to do in that case.

That's a great lesson, I think.  Fail gracefully.  Maybe??