
<br />
<br />
<br />
<div class="content">
  <div class="det-form">
  <h2>Here are the details of your question!</h2>
  <br />
  <br />
    <% if @question_boxes %>
  <ul>
    <h1> The ID: <%= @question_boxes.id %></h1>
    <br/>
    <h1> The Author: <%= @question_boxes.author %></h1>
    <br/>
    <h1> The Time: <%= @question_boxes.created_at %></h1>
    <br/>
    <h1> The Question: <%= @question_boxes.question %></h1>
  </ul>
      <% else %>
    <h2> No one has asked a question yet. =[ </h2>
  <% end %>
        <form method="POST" action="/questions/<%= @question_boxes.id %>">
          <input type="hidden" name="_method" value="delete" />
          </p>
          <p class="submit"><input type="submit" value="Delete"></p>
        </form>

        <form method="" action="/questions/<%= @question_boxes.id %>/edit">
          <input type="hidden" name="_method" value="update" />
          </p>
          <p class="submit"><input type="submit" value="Update"></p>
        </form>
    </div>
</div>

<br />
<br />



<!-- My intent with this page is to function as a destination for a given question,
showing the details and offering up the ability to delete or update the information.

Update hasn't been implemented yet.

There are some styling issues, mainly with the addition of the second button. I'd
perfer they were centered horizontally.